<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hamzabhatti.cryptopal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="me.hamzabhatti.cryptopal.WSSplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.hamzabhatti.cryptopal.CryptoListActivity" />
        <activity android:name="me.hamzabhatti.cryptopal.SplashScreenActivity" />
        <activity android:name="me.hamzabhatti.cryptopal.LoginActivity" />
        <activity android:name="me.hamzabhatti.cryptopal.SignupActivity" />
        <activity android:name="me.hamzabhatti.cryptopal.CreatePinAcitivyt" />
        <activity android:name="me.hamzabhatti.cryptopal.TradeCryptoStarActivity" />
        <activity android:name="me.hamzabhatti.cryptopal.WalletCryptoStarActivity" />
        <activity android:name="me.hamzabhatti.cryptopal.AlertCryptoStarActivity" />
        <activity android:name="me.hamzabhatti.cryptopal.ChartCryptoStarActivity"></activity>
    </application>

</manifest>